<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>文章列表 - WEN-ZENG BLOG</title>
    <meta name="description" content="WEN-ZENG BLOG">
    {% include 'Link.html' %}
    {% load static %}
</head>

<body>
{% include 'Navigation.html' %}
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">文章列表</h2>
                    <p>网站还在完善，暂时还没有弄好</p>
                </div>
                <div class="block-content">



                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5"><img class="rounded img-fluid" src="{% static 'blog/img/tech/image4.jpg' %}"></div>
                            <div class="col-lg-7">
                                <h3>代码演示</h3>
                                <div class="info"><span class="text-muted">Jan 1, 2020 by&nbsp;<a href="#">wenzen.</a></span></div>
                                <p>这是演示代码语法高亮</p><a class="btn btn-outline-primary btn-sm" href="/blog/code-test">查 看</a></div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </main>
{% include 'Footer.html' %}
</body>

</html>