<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WEN-ZENG BLOG</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'blog/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/clean-blog.min.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
{% include 'blog/Navigation.html' %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>嗨！你好</h1>
                    <span class="subheading">生活不止眼前的苟且，还有诗和远方</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% if paper_list %}
                {% for paper in paper_list %}
                <div class="post-preview">
                    <a href="/blog/show/{{ paper.title }}">
                        <h2 class="post-title">
                            {{ paper.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ paper.details }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{ paper.author }}</a>
                        on {{ paper.date }}</p>
                </div>
                <hr>
                {% endfor %}
            {% else %}


                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            他太懒了，暂时还没有写下任何文章呢……
                        </h2>
                        <h3 class="post-subtitle">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of
                            mine.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">WEN-ZENG</a>
                        on November 23, 2020</p>
                </div>
                <hr>

            {% endif %}
            {#        <div class="post-preview">#}
            {#          <a href="post.html">#}
            {#            <h2 class="post-title">#}
            {#              Science has not yet mastered prophecy#}
            {#            </h2>#}
            {#            <h3 class="post-subtitle">#}
            {#              We predict too much for the next year and yet far too little for the next ten.#}
            {#            </h3>#}
            {#          </a>#}
            {#          <p class="post-meta">Posted by#}
            {#            <a href="#">Start Bootstrap</a>#}
            {#            on August 24, 2019</p>#}
            {#        </div>#}
            {#        <hr>#}
            {#        <div class="post-preview">#}
            {#          <a href="post.html">#}
            {#            <h2 class="post-title">#}
            {#              Failure is not an option#}
            {#            </h2>#}
            {#            <h3 class="post-subtitle">#}
            {#              Many say exploration is part of our destiny, but it’s actually our duty to future generations.#}
            {#            </h3>#}
            {#          </a>#}
            {#          <p class="post-meta">Posted by#}
            {#            <a href="#">Start Bootstrap</a>#}
            {#            on July 8, 2019</p>#}
            {#        </div>#}
            {#        <hr>#}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Get More &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Footer -->
{% include 'blog/Footer.html' %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>

</body>

</html>
