<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>登录 - WEN-ZENG BLOG</title>
    <meta name="description" content="WEN-ZENG BLOG">
    {% include 'Link.html' %}
</head>

<body>
{% include 'Navigation.html' %}
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">登录</h2>
                <p>登录以获得管理权限</p>
            </div>
            <form action="blog/login" method="post">
                <div class="form-group"><label for="email">账号</label><input class="form-control item" type="email"
                                                                               name="email" required></div>
                <div class="form-group"><label for="password">密码</label><input class="form-control"
                                                                                     type="password" name="password" required>
                </div>
                <div class="form-group">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label
                            class="form-check-label" for="checkbox">记住我的登录状态</label> <a href="/blog/registration">没有账号？注册一个 </a></div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </section>
</main>
{% include 'Footer.html' %}
</body>

</html>