<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>代码演示 - WEN-ZENG BLOG</title>
    <meta name="description" content="WEN-ZENG BLOG">
{% include 'Link.html' %}
</head>

<body>
{% include 'Navigation.html' %}
    <main class="page testimonials">
        <section class="clean-block clean-testimonials dark" style="padding-top: 10px; padding-bottom: 10px">
            <div class="container" style="padding: 10px 10px; background: white">
                <h2 style="text-align: center">代码高亮演示</h2>
                <p> 这是是演示</p>
                <pre><code class="language-python" style="font-size: 8px ">print("hello world")</code></pre>
                <pre><code class="language-python" style="font-size: 8px ">
                    import pandas as pd
                    data = pd.read_excel("demo.xls")
                    for index in range(data.shape[0]):
                        print(index)
                </code></pre>
                <p> 这是是演示</p>
                <pre><code class="language-python" style="font-size: 8px;">
# _*_ coding: utf-8 _*_
# _*_ author: anwenzen _*_

import os
import re
import sys
import queue
import requests
from concurrent.futures import ThreadPoolExecutor


class ThreadPoolExecutorWithQueueSizeLimit(ThreadPoolExecutor):
    """
    实现多线程有界队列
    队列数为线程数的2倍
    """

    def __init__(self, max_workers=None, *args, **kwargs):
        super().__init__(max_workers, *args, **kwargs)
        self._work_queue = queue.Queue(max_workers * 2)


class M3u8Download:
    """
    :param url: 完整的m3u8文件链接 如"https://www.bilibili.com/example/index.m3u8"
    :param name: 保存m3u8的文件名 如"index"
    :param max_workers: 多线程最大线程数
    :param num_retries: 重试次数
    """

    def __init__(self, url, name, max_workers=64, num_retries=5):
        self._url = url
        self._name = name
        self._max_workers = max_workers
        self._num_retries = num_retries
        self._file_path = os.path.join(os.getcwd(), self._name)
        self._front_url = None
        self._ts_url_list = []
        self._success_sum = 0
        self._ts_sum = 0
        self._headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) \
        AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36'}

        requests.packages.urllib3.disable_warnings()


if __name__ == "__main__":
    url_list = input("输入url，若同时输入多个url时要用空格分开：").split()
    name_list = input("输入name，若同时输入多个name要用空格分开：").split()
    # 如果M3U8_URL的数量 ≠ SAVE_NAME的数量
    # 下载一部电视剧时，只需要输入一个name就可以了
    sta = len(url_list) == len(name_list)
    for i, u in enumerate(url_list):
        M3u8Download(u,
                     name_list[i] if sta else f"{name_list[0]}{i + 1:02}",
                     max_workers=64,
                     num_retries=10
                     )
</code></pre>
            </div>
        </section>
    </main>
 {% include 'Footer.html' %}
</body>

</html>