<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NO FOUND</title>
    <meta name="description" content="WEN-ZENG BLOG">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'blog/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/smoothproducts.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">WEN-ZENG BLOG</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item item"><a class="nav-link" href="/">HOME</a></li>
                <li class="nav-item item"><a class="nav-link" href="features.html">FEATURES</a></li>
                <li class="nav-item item"><a class="nav-link" href="pricing.html">PRICING</a></li>
                <li class="nav-item item"><a class="nav-link" href="about-us.html">ABOUT</a></li>
                <li class="nav-item item"><a class="nav-link" href="contact-us.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page contact-page">
    <section class="portfolio-block contact" style="background: #080808;color: rgb(255,255,255);">
        <div class="container">

            <div class="stars">
                <div class="central-body">
                    <img class="image-404" src="{% static 'index/img/404/404.svg' %}" width="300px">
                    <a href="https://muppers.com" class="btn-go-home" target="_blank">VOLVER AL INICIO</a>
                </div>
                <div class="objects">
                    <img class="object_rocket" src="{% static 'index/img/404/rocket.svg' %}" width="40px">
                    <div class="earth-moon">
                        <img class="object_earth" src="{% static 'index/img/404/earth.svg' %}" width="100px">
                        <img class="object_moon" src="{% static 'index/img/404/moon.svg' %}" width="80px">
                    </div>
                    <div class="box_astronaut">
                        <img class="object_astronaut" src="{% static 'index/img/404/astronaut.svg' %}" width="140px">
                    </div>
                </div>
                <div class="glowing_stars">
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                    <div class="star"></div>

                </div>

            </div>

        </div>
    </section>
</main>
<script src="{% static 'blog/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{% static 'blog/js/smoothproducts.min.js' %}"></script>
<script src="{% static 'blog/js/theme.js' %}"></script>
</body>

</html>