<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Downloads</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/smoothproducts.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">WEN-ZENG WEBSITE</a>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Simple Blog</a></li>
                {#                <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>#}
                {#                <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>#}
                {#                <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>#}
            </ul>
        </div>
    </div>
</nav>
<h1>Heading</h1>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin: 40px 0px 0px 0px;">
                <h1 style="text-align: center;">Select something on your want</h1>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container" style="padding: 1px 1px 30px 1px;">
        <form method="post" action="#">{% csrf_token %}
            <hr>
            {% if folder  or files %}
                {% for item in folder %}
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3"
                                                   name="downloads{{ item.value }}">
                        <label class="form-check-label" for="formCheck-3">
                            <i class="icon ion-android-folder"></i>
                            &nbsp;<a href="/downloads{{ item.dir_path }}">{{ item.name }}</a>
                        </label>
                    </div>
                    <hr>
                {% endfor %}

                {% for item in files %}
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"
                                                   name="downloads/{{ item.url }}">
                        <label class="form-check-label" for="formCheck-1">
                            <i class="icon ion-android-list"></i>
                            &nbsp;<a href="#downloading/{{ item.url }}">{{ item.name }}</a>{{ item.size }}
                        </label>
                    </div>
                    <hr>
                {% endfor %}

                {#            <input class="form-control float-left" type="submit" style="width: 100px;margin: 0px 20px;">#}
                <input class="form-control float-left" type="submit" style="width: 200px;margin: 0px 20px;"
                       name="delete"
                       value="删除所选文件">
            {% else %}
                <p class="copyright">Nothing could to Download.</p>
                <hr>
            {% endif %}
        </form>
    </div>
</div>

{% include 'Footer.html' %}

<main class="page landing-page"></main>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="{% static 'assets/js/smoothproducts.min.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>