    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://www.vnnznn.cn"><i class="far fa-dizzy"></i></a>
                <a href="mailto:anwenzen@icloud.com"><i class="icon ion-android-mail"></i></a>
                <a href="https://github.com/anwenzen"><i class="fab fa-github"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item">生活不止眼前的苟且，还有诗和远方</li>
{#                <li class="list-inline-item"><a href="#">Services</a></li>#}
{#                <li class="list-inline-item"><a href="#">About</a></li>#}
{#                <li class="list-inline-item"><a href="#">Terms</a></li>#}
{#                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>#}
            </ul>
            <p class="copyright">Copyright &copy; WEN-ZENG Website 2020</p>
        </footer>
    </div>
    {% load static %}
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'blog/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'blog/js/theme.js' %}"></script>
    <script src="{% static 'index/js/prism.js' %}"></script>