    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/">WEN-ZENG WEBSITE</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog/contact">留言板</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog/index">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog/post-list">Blog-list</a></li>
                    {% if request.session.userid %}
                        <li class="nav-item"><a class="nav-link" href="/blog/login">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="/blog/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page testimonials"></main>