<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Downloads - WEN-ZENG WEBSITE</title>
    <meta name="description" content="WEN-ZENG BLOG">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static 'blog/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/smoothproducts.css' %}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">WEN-ZENG BLOG</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="blog-post-list.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page testimonials"></main>

{#<div></div>#}


<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="fab fa-qq"></i></a><a href="#"><i
                class="icon ion-android-mail"></i></a><a href="#"><i class="fab fa-github"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">WEN-ZENG © 2020</p>
    </footer>
</div>
    <script src="{% static 'blog/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'blog/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'blog/js/theme.js' %}"></script>
</body>

</html>